<div>
  <h1></h1>
  <nav>
    <a routerLink></a>
    <a routerLink></a>
    <a routerLink></a>
  </nav>
 
  <div class="parent">
    <div class="div1">
      <a href="date/date.component.html">
        <img src="https://img.freepik.com/vector-premium/ilustracion-dibujos-animados-vector-calendario-sobre-fondo-blanco_574806-468.jpg" width="300" height="300"> 
      </a>
      Citas
    </div>
    <div class="div2">
      <a href="issue/issue.component.html">
        <img src="https://img.freepik.com/vector-premium/asimiento-mano-recibo-diseno-dibujos-animados-vectores-negocios_48644-233.jpg" width="300" height="300"> 
      </a>  
      Recibos
    </div>
    <div class="div3"> 

      <a href="service/service.component.html">
        <img src="https://static.vecteezy.com/system/resources/previews/005/377/991/non_2x/nail-salon-concept-icon-manicure-service-idea-thin-line-illustration-cosmetic-procedures-manicurist-appointment-isolated-outline-drawing-vector.jpg" width="300" height="300">
      </a>
      servicios
    </div>
  <router-outlet></router-outlet>
</div>
